*.exe
#*.lib
*.exp
*.pexe
*.nexe
*.bc
*.idb
*.suo
*.user
*.sln.docstates
Projects/Output/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.objx
*.daex
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc
*.tlog
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
/*.db
/Declarations/bin/Debug
/Declarations/bin/Release
/Declarations/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Declarations/obj/Debug
/Declarations/obj/Release
/Implementation/bin/Debug
/Implementation/bin/Release
/Implementation/obj/Debug
/Implementation/obj/Release
/LibVlcWrapper/bin/Debug
/LibVlcWrapper/bin/Release
/LibVlcWrapper/obj/Debug
/LibVlcWrapper/obj/Release
/MeTube/bin/Debug
/MeTube/bin/Release
/MeTube/obj/Debug
/MeTube/obj/Release
